@charset "utf-8";

/* 폰트 설정 */
@font-face {
    font-family:'GmarketSansTTFLight';
    src: url("../font/GmarketSansTTFLight.ttf")
}

@font-face {
    font-family:'GmarketSansTTFBold';
    src: url("../font/GMARKETSANSTTFBOLD.TTF")
}

@font-face {
    font-family:'GmarketSansTTFMedium';
    src: url("../font/GmarketSansTTFMedium.ttf")
}



/* body 기본 설정 */
body {
    font-family: 'GmarketSansTTFMedium';
    font-size: 1.6rem;
    margin: 1.6rem 0.8rem;
    text-align: center;
}
a {
	text-decoration:none;
	text-decoration-color: none;
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: underline; cursor: pointer;}

/* main 설정 */
.main {
	width: 100vw;
	height: 100vh;
	background: url("../img/background2.jpg");
	background-size: 100vw 100vh;
	color: white;
	overflow: auto;
}
.logoDiv {
	height: 4.5rem; text-align: left; margin-left: 3.5rem;
}
.titleDiv {
	height: 2rem; text-align: center; font-size: 2rem; font-family: 'GmarketSansTTFBold';
}
.inputBtn {
	width: 7.3rem; height: 100%; background-color: #ffb47D; border: 0.0025rem solid #707070; color: white; font-size: 1.5rem; border-radius: 1rem;
}
.inputBtn:hover {
	cursor: pointer;
}
#mainImg, #joinImg {
	height: 18.75rem; width: 18.75rem;border-radius: 70%; overflow: hidden; border: 1px solid #707070;
}

/* sidebar 설정 */
.menuListDiv {
	text-align: center;
}
.menuList {
	width: 13.25rem;
	font-size: 1.5rem;
	margin: 1rem auto;
	text-align: left;
}

/* main 로그인 전 */
.sidebar {
	text-align: center;
}
#loginDiv {
	height: 6rem; width: 17.5rem; display: flex; justify-content: space-between; margin: auto auto;
}
#loginInputDiv {
	height: 6rem; width: 12.5rem; display: flex; flex-direction: column; justify-content: space-between;
}
#loginInputDiv2 {
	height: 3rem;
}
#loginBtnDiv {
	height: 6rem; width: 4.5rem;
}
.inputUserIdPw {
	height: 2.75rem; width: 12.5rem; border: 0.0625rem solid #707070;
}
#loginBtn {
	height: 6rem; width: 4.5rem; background-color: #ffb47D; color: white; border: 0.0625rem solid #707070; font-size: 1rem;
}
#logoutBtn {
	height: 2rem; width: 4.5rem; background-color: #ffb47D; color: white; border: 0.0625rem solid #707070;
}
#loginBtn:hover, #logoutBtn:hover {
	cursor: pointer;
}

/* join */
.joinInputDiv {
	margin-bottom: 0.5rem; height: 2.5rem; display: flex; justify-content: space-between; width: 37.5rem;
}
.joinInputDiv_1 {
	width: 6.5rem; margin: auto 0; font-size: 1.25rem;
}
.joinInputDiv_2 {
	width: 22.5rem;
}
.joinInputDiv_3 {
	width: 6.5rem;
}
.joinInput {
	width: 22.5rem; height: 100%; border: 1px solid #707070;
}

/* like */
.likeInputDiv {
	height: 2.5rem; display: flex; justify-content: space-between; width: 22.5rem; margin: 0 auto 0.5rem;
}
.likeInputDiv_1 {
	width: 6.5rem; height:2.5rem; margin: 0.8rem 0; font-size: 1.2rem; text-align: right;
}
.likeInputDiv_2 {
	width: 15rem; height: 2.5rem;
}
.likeInput {
	width: 15rem; height: 2.5rem; border: 0.125rem solid #707070; border-radius: 1rem; font-size: 1rem;
}

/* likeResult */
#likeReultDiv {
	display: flex; justify-content: left; height: 70%;
}
#likeResultDiv1 {
	width: 45rem; height: 100%; display: flex; justify-content: center;
}
#likeResultImg {
	width: 25rem; height: 25rem;
}
#likeResultTxt {
	width: 22.5rem; height: 25%; margin: auto; text-align: left; font-size: 1.5rem;
}
.likeResultListImg {
	max-width: 12.5rem; height: 12.5rem; border: 0.25rem solid #E95099; border-radius: 1rem;
}
.likeResultListTxt {
	font-size: 1rem;
}
.txtPink {
	color: #BA2D65;
}
.txtLike {
	color: #FFB47D;
}
.txtHash {
	color: #FFB47D;
}
#likeResultList {
	width: 39.5rem; height: 46.5rem; display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	text-align: left;
}
.likeResultListItem {
	height: 23.25rem;
}
.likeResultListItem:nth-child(1) {
	grid-row: 1;
	grid-column: 1;
}
.likeResultListItem:nth-child(2) {
	grid-row: 1;
	grid-column: 2;
}
.likeResultListItem:nth-child(3) {
	grid-row: 1;
	grid-column: 3;
}
.likeResultListItem:nth-child(4) {
	grid-row: 2;
	grid-column: 1;
}
.likeResultListItem:nth-child(5) {
	grid-row: 2;
	grid-column: 2;
}
.likeResultListItem:nth-child(6) {
	grid-row: 2;
	grid-column: 3;
}

/* forumList */
.forumListContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
}
.forumListItem {
	height: 26rem;
}
.forumListItem:nth-child(1) {
	grid-row: 1;
	grid-column: 1;
}
.forumListItem:nth-child(2) {
	grid-row: 1;
	grid-column: 2;
}
.forumListItem:nth-child(3) {
	grid-row: 1;
	grid-column: 3;
}
.forumListItem:nth-child(4) {
	grid-row: 1;
	grid-column: 4;
}
.forumListItem:nth-child(5) {
	grid-row: 2;
	grid-column: 1;
}
.forumListItem:nth-child(6) {
	grid-row: 2;
	grid-column: 2;
}
.forumListItem:nth-child(7) {
	grid-row: 2;
	grid-column: 3;
}
.forumListItem:nth-child(8) {
	grid-row: 2;
	grid-column: 4;
}
.forumListImg {
	height: 18rem;
	max-width: 18rem;
	border: 0.25rem solid #E95099;
	border-radius: 1rem;
}
.forumListTxt {
	font-size: 1.2rem;
}


/* forumWrite */
.forumInputDiv {
	height: 2.5rem; display: flex; justify-content: space-between; width: 18.75rem; margin: 0 auto 0.5rem;
}
.forumInputDiv_1 {
	width: 2.5rem; margin: auto 0; font-size: 1.25rem; text-align: right;
}
.forumInputDiv_2 {
	width: 15rem;
}
.forumInput {
	width: 15rem; height: 100%; border: 0.125rem solid #707070; border-radius: 1rem;
}
.forumInputTADiv {
	height: 12.5rem; display: flex; justify-content: space-between; width: 18.75rem; margin: 0 auto 0.5rem;
}
.forumInputTADiv_2 {
	width: 15rem;
	height: 12.5rem;
}
.forumInputTA {
	width: 15rem; height: 100%; border: 0.125rem solid #707070; border-radius: 1rem;
}



/* 반응형 폰트 크기 조절 */
@media (min-width: 1025px) {
    html {
        font-size: 100%;
    }
    div[class="sidebar"] {width:30rem;height:100%;position:fixed;top:0;left:-30rem;z-index:1;transition:all .35s;}
	div[class="main"] {position:fixed;top:0;left:0px;z-index:1;transition:all .35s;}
	div.sidebar {left:0;background-color: #f5f5f5;}
	div.main {left:30rem;}
	.main {
		width: 75vw;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 62.5%;
    }
	.inputUserIdPw {
		height: 2.6rem; width: 12.5rem; border: 0.0625rem solid #707070;
	}
	.logoDiv {
		text-align: center; margin-left: 0rem;
	}
	/* likeResult */
	#likeReultDiv {
		display: flex; flex-direction: column; justify-content: center; height: 90rem;
	}
	#likeResultDiv1 {
		width: 100%; height: 100%; display: flex; justify-content: center; margin: 0 auto;
	}
	#likeResultImg {
		max-width: 25rem; height: 25rem;
	}
	#likeResultTxt {
		width: 22.5rem; height: 6.25rem; margin: auto; text-align: left; font-size: 1.5rem;
	}
	.likeResultListImg {
		max-width: 18rem; height: 18rem; border: 0.25rem solid #E95099; border-radius: 1rem;
	}
	.likeResultListTxt {
		font-size: 1rem;
	}
	.txtPink {
		color: #BA2D65;
	}
	.txtLike {
		color: #FFB47D;
	}
	.txtHash {
		color: #FFB47D;
	}
	#likeResultList {
		width: 39.5rem; height: 46.5rem; display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		text-align: left;
		margin: 0 auto;
	}
	.likeResultListItem {
		height: 32rem;
	}
	.likeResultListItem:nth-child(1) {
		grid-row: 1;
		grid-column: 1;
	}
	.likeResultListItem:nth-child(2) {
		grid-row: 1;
		grid-column: 2;
	}
	.likeResultListItem:nth-child(3) {
		grid-row: 2;
		grid-column: 1;
	}
	.likeResultListItem:nth-child(4) {
		grid-row: 2;
		grid-column: 2;
	}
	.likeResultListItem:nth-child(5) {
		grid-row: 3;
		grid-column: 1;
	}
	.likeResultListItem:nth-child(6) {
		grid-row: 3;
		grid-column: 2;
	}
	
	/* 메뉴 사이드바 CSS */
	input[id="menuicon"] {display:none;}
	input[id="menuicon"] + label {display:block;margin:4rem;width:4rem;height:4rem;position:relative;cursor:pointer;}
	input[id="menuicon"] + label span {display:block;position:absolute;width:100%;height:0.25rem;border-radius:30px;background:#000;transition:all .35s;}
	input[id="menuicon"] + label span:nth-child(1) {top:0;z-index:2;}
	input[id="menuicon"] + label span:nth-child(2) {top:50%;transform:translateY(-50%);z-index:2;} /* 비슷하게 사용할 수 있는 style top:calc(50% - 2.5px); margin-top:-2.5px;*/
	input[id="menuicon"] + label span:nth-child(3) {bottom:0;z-index:2;}
	input[id="menuicon"]:checked + label {z-index:2;}
	input[id="menuicon"]:checked + label span {background:#000;}
	input[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);left:30rem;}
	input[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;left:30rem;}
	input[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);left:30rem;}
	div[class="sidebar"] {width:30rem;height:100%;position:fixed;top:0;left:-30rem;z-index:1;transition:all .35s;}
	div[class="main"] {position:fixed;top:0;left:0px;z-index:1;transition:all .35s;}
	input[id="menuicon"]:checked + label + div div.sidebar {left:0;background-color: #f5f5f5;}
	input[id="menuicon"]:checked + label + div div.main {left:30rem;}
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
	.inputUserIdPw {
		height: 2.5rem; width: 12.5rem; border: 0.0625rem solid #707070;
	}
	.logoDiv {
		text-align: center; margin-left: 0rem;
	}
	/* forumList */
	.forumListContainer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
	.forumListItem {
		height: 26rem;
	}
	.forumListItem:nth-child(1) {
		grid-row: 1;
		grid-column: 1;
	}
	.forumListItem:nth-child(2) {
		grid-row: 1;
		grid-column: 2;
	}
	.forumListItem:nth-child(3) {
		grid-row: 2;
		grid-column: 1;
	}
	.forumListItem:nth-child(4) {
		grid-row: 2;
		grid-column: 2;
	}
	.forumListItem:nth-child(5) {
		grid-row: 3;
		grid-column: 1;
	}
	.forumListItem:nth-child(6) {
		grid-row: 3;
		grid-column: 2;
	}
	.forumListItem:nth-child(7) {
		grid-row: 4;
		grid-column: 1;
	}
	.forumListItem:nth-child(8) {
		grid-row: 4;
		grid-column: 2;
	}
	.forumListImg {
		height: 20rem;
		max-width: 20rem;
	}
	.forumListTxt {
		font-size: 1rem;
	}

	/* likeResult */
	.titleDiv {
		margin-top: 2rem;
	}
	#likeReultDiv {
		display: flex; flex-direction: column; justify-content: center; height: 85rem;
	}
	#likeResultDiv1 {
		width: 45rem; height: 100%; display: flex; justify-content: center; margin: 0 auto;
	}
	#likeResultImg {
		width: 25rem; height: 25rem;
	}
	#likeResultTxt {
		width: 22.5rem; height: 6.25rem; margin: auto; text-align: left; font-size: 1.5rem;
	}
	.likeResultListImg {
		max-width: 18rem; height: 18rem; border: 0.25rem solid #E95099; border-radius: 1rem;
	}
	.likeResultListTxt {
		font-size: 1rem;
	}
	.txtPink {
		color: #ffee58;
	}
	.txtLike {
		color: #ffee58;
	}
	.txtHash {
		color: #ffee58;
	}
	#likeResultList {
		width: 39.5rem; height: 46.5rem; display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		text-align: left;
		margin: 0 auto;
	}
	.likeResultListItem {
		height: 32rem;
	}
	.likeResultListItem:nth-child(1) {
		grid-row: 1;
		grid-column: 1;
	}
	.likeResultListItem:nth-child(2) {
		grid-row: 1;
		grid-column: 2;
	}
	.likeResultListItem:nth-child(3) {
		grid-row: 2;
		grid-column: 1;
	}
	.likeResultListItem:nth-child(4) {
		grid-row: 2;
		grid-column: 2;
	}
	.likeResultListItem:nth-child(5) {
		grid-row: 3;
		grid-column: 1;
	}
	.likeResultListItem:nth-child(6) {
		grid-row: 3;
		grid-column: 2;
	}
	/* 메뉴 사이드바 CSS */
	input[id="menuicon"] {display:none;}
	input[id="menuicon"] + label {display:block;margin:2rem;width:2rem;height:2rem;position:relative;cursor:pointer;}
	input[id="menuicon"] + label span {display:block;position:absolute;width:100%;height:0.25rem;border-radius:30px;background:#000;transition:all .35s;}
	input[id="menuicon"] + label span:nth-child(1) {top:0;z-index:2;}
	input[id="menuicon"] + label span:nth-child(2) {top:50%;transform:translateY(-50%);z-index:2;} /* 비슷하게 사용할 수 있는 style top:calc(50% - 2.5px); margin-top:-2.5px;*/
	input[id="menuicon"] + label span:nth-child(3) {bottom:0;z-index:2;}
	input[id="menuicon"]:checked + label {z-index:2;}
	input[id="menuicon"]:checked + label span {background:#000;}
	input[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);left:30rem;}
	input[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;}
	input[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);left:30rem;}
	div[class="sidebar"] {width:30rem;height:100%;position:fixed;top:0;left:-30rem;z-index:1;transition:all .35s;}
	div[class="main"] {position:fixed;top:0;left:0px;z-index:1;transition:all .35s;}
	input[id="menuicon"]:checked + label + div div.sidebar {left:0;background-color: #f5f5f5;}
	input[id="menuicon"]:checked + label + div div.main {left:30rem;}
}


